*/.DS_Store
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.idea/*
*/.vscode/*
*/.mypy_cache/*
*/.mypy_cache/*
*/.coverage
*/*/.DS_Store
__pycache__/*
*/*/*/.DS_Store
*/*/*/*/.DS_Store
/dataset/B210413/
/dataset/eval/*
/dataset/full/*
/dataset/train/*
/temp/*
