deepface==0.0.91
easydict==1.13
matplotlib==3.7.5
mindspore==2.2.14
mxnet==1.9.1
numpy==1.24.3
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==10.3.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.32.2
requests_toolbelt==1.0.0
scikit_learn==1.5.0
scipy==1.13.1
skimage==0.0
tqdm==4.66.4
